<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>HTMX Forum</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.8"
            integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr"
            crossorigin="anonymous"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {},
                },
            },
        };
    </script>
</head>
<body>
<!-- Source for Nav: https://tailwindui.com/components/application-ui/navigation/navbars -->
<nav class="bg-gray-800">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex h-16 items-center justify-between">
            <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                <button
                        type="button"
                        class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
                        aria-controls="mobile-menu"
                        aria-expanded="false"
                >
                    <span class="absolute -inset-0.5"></span>
                    <span class="sr-only">Open main menu</span>
                    <svg
                            class="block h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
                        />
                    </svg>
                    <svg
                            class="hidden h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke-width="1.5"
                            stroke="currentColor"
                            aria-hidden="true"
                    >
                        <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M6 18L18 6M6 6l12 12"
                        />
                    </svg>
                </button>
            </div>
            <div
                    class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start"
            >
                <div class="hidden sm:ml-6 sm:block">
                    <div class="flex space-x-4">
                        <a
                                hx-target="#main"
                                hx-swap="innerHtml"
                                hx-get="/"
                                href=""
                                class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                        >
                            Home
                        </a
                        >
                    </div>
                </div>
            </div>
            <div
                    class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0"
            >
                <a
                        hx-target="#main"
                        hx-swap="innerHtml"
                        hx-get="/login"
                        href=""
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Login</a
                >
                <a
                        hx-target="#main"
                        hx-swap="innerHtml"
                        hx-get="/register"
                        href=""
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Register</a
                >
                <a
                        href="/"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Logout</a
                >
                <a
                        hx-target="#main"
                        hx-swap="innerHtml"
                        hx-get="/post/new"
                        href="/post/new"
                        class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium"
                >Create Post</a>
            </div>
        </div>
    </div>
</nav>

<main id="main">
    <section class="flex min-h-full flex-col justify-center px-10 py-12 lg:px-8">
        <ul class="divide-y divide-gray-100" th:each="post : ${posts}">
            <a hx-target="#main"
               hx-swap="innerHtml"
               th:attr="hx-get='/post/${post.id}'"
               th:href="@{/post/{id}(id=${post.id})}">
                <li
                        class="p-5 flex justify-between rounded-md gap-x-6 py-5 bg-gray-100 hover:bg-gray-200 mb-2"
                >
                    <div class="flex min-w-0 gap-x-4">
                        <div class="min-w-0 flex-auto">
                            <p th:text="${post.title}" class="text-xl font-semibold leading-6 text-gray-900"></p>
                            <p th:text="${post.author.displayname}"
                               class="mt-1 truncate text-m leading-5 text-gray-500"></p>
                        </div>
                    </div>
                </li>
            </a>
        </ul>
    </section>
</main>
</body>
</html>
