<section class="flex min-h-full flex-col justify-center px-10 py-12 lg:px-8">
    <ul class="divide-y divide-gray-100">
        <a key={post.id} href={"post/" + post.id}>
            <li
                    key={post.id}
                    class="p-5 flex justify-between rounded-md gap-x-6 py-5 bg-gray-100 hover:bg-gray-200 mb-2"
            >
                <div class="flex min-w-0 gap-x-4">
                    <div class="min-w-0 flex-auto">
                        <p class="text-xl font-semibold leading-6 text-gray-900">
                            {post.title}
                        </p>
                        <p class="mt-1 truncate text-m leading-5 text-gray-500">
                            {post.author?.displayname || ""}
                        </p>
                    </div>
                </div>
                <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                    <p class="mt-1 text-xs leading-5 text-gray-500">
                        Posted on{" "}
                        <time dateTime={post.updated_at}>
                            {new Date(post.updated_at).toDateString()}
                        </time>
                    </p>
                </div>
            </li>
        </a>
    </ul>
</section>